<div>
  <div>
    <ui-input-container
      [formControl]="formGroup.get(controlName.firstName)"
      [label]="'firstName'"
    ></ui-input-container>
    <ui-input-container
      [formControl]="formGroup.get(controlName.lastName)"
      [label]="'lastName'"
    ></ui-input-container>
    <ui-input-container
      [formControl]="formGroup.get(controlName.password)"
      [label]="'password'"
    ></ui-input-container>
    <ui-input-container
      [formControl]="formGroup.get(controlName.email)"
      [label]="'email'"
    ></ui-input-container>
    <ui-date-picker-container
      [formControl]="formGroup.get(controlName.birthDay)"
    >
    </ui-date-picker-container>
  </div>
  <button mat-button (click)="regist()">regist</button>
</div>
