<mat-toolbar>
  <div class="left">
    <button mat-button>{{ title }}</button>
  </div>
  <span class="spacer"></span>
  <div class="right">
    <button mat-button [routerLink]="'about'">About</button>
    <button mat-button [routerLink]="'timeline'">Timeline</button>
    <button mat-button [routerLink]="'skill-info'">Skill</button>
    <button mat-button [routerLink]="'about'">Other</button>
  </div>
</mat-toolbar>
<div class="header">
  <img src="../assets/wan.jpg" />
  <h1>いい感じのタイトルと画像</h1>
</div>
<router-outlet></router-outlet>
