<div>
  <div>
    <ui-input-container
      [inpFormControl]="formGroup.get(controlName.firstName)"
      [label]="'firstName'"
    ></ui-input-container>
    <ui-input-container
      [inpFormControl]="formGroup.get(controlName.lastName)"
      [label]="'lastName'"
    ></ui-input-container>
    <ui-input-container
      [inpFormControl]="formGroup.get(controlName.password)"
      [label]="'password'"
    ></ui-input-container>
    <ui-input-container
      [inpFormControl]="formGroup.get(controlName.email)"
      [label]="'email'"
    ></ui-input-container>
    <ui-date-picker-container
      [dateFormControl]="formGroup.get(controlName.birthDay)"
    >
    </ui-date-picker-container>
  </div>
  <button
    mat-button
    (click)="registEvent.emit()"
    *ngIf="editMode === editType.create"
  >
    regist
  </button>
  <button mat-button (click)="deleteEvent.emit()">delete</button>
  <button
    mat-button
    (click)="updateEvent.emit()"
    *ngIf="editMode === editType.update"
  >
    update
  </button>
</div>
